# Normalize line endings for all files that Git considers text
* text=auto eol=lf

# Only include the addons folder when downloaded from the Asset Library
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
